* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.block-1 {
    width: 50px;
    height: 50px;
    background-color: red;
    transition: all .2s;
}

.block-1:hover {
    width: 80px;
    height: 80px;
    background-color: blue;
}

.block-2 {
    width: 50px;
    height: 50px;
    background-color: red;
}

.block-2:hover {
    animation: onHover .2s forwards;
}

@keyframes onHover {
    from {
        width: 50px;
        height: 50px;
        background-color: red;
    }

    to {
        width: 80px;
        height: 80px;
        background-color: blue;
    }
}